@import "tailwindcss";

.ProseMirror {
  outline: none !important;
  border: none !important;
}

.ProseMirror h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 1rem 0;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.8rem 0;
}
.ProseMirror h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.7rem 0;
}

.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin: 0.3rem 0;
}

.output-preview h1 {
  font-size: 2rem;
  font-weight: bold;
}

.output-preview h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

.output-preview h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.output-preview ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.output-preview ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.output-preview li {
  margin-bottom: 0.5rem;
}
